<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trip Planner</title>
</head>
<body>
<div class="container">
  <!-- Header Section -->
  <header class="header text-center">
    <h1 class="trip-title">Yellow Stone Road Trip</h1>
    <h4 class="trip-info">
      <i class="bi bi-calendar3"></i> Aug 28 - Sep 1
      <!--
      <i class="bi bi-people-fill"></i>
      <i class="bi bi-person-circle"></i>
      <i class="bi bi-person-fill-add"></i>
      !-->
    </h4>
  </header>

  <div class="container">
    <div class="row trip-card-row">
      <div class="col-sm-8 mb-4">
        <div class="card">
          <div class="card-header"> Day 1 Tuesday Aug 27 </div>
          <div class="card-body">
            <h5 class="card-title">Flight to ABC</h5>
            <div class="card-text">
              <dl class="row">
                <dt class="col-sm-4">Frontier</dt>
                <dd class="col-sm-8">F9 1234</dd>
                <dt class="col-sm-4">7:20 PM</dt>
                <dd class="col-sm-8">ABC</dd>
                <dt class="col-sm-4">9:20 PM</dt>
                <dd class="col-sm-8">DEF</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 mb-4">
        <div class="card">
          <div class="card-header"> Day 2 Wednesday Aug 28 </div>
          <div class="card-body">
            <h5 class="card-title">Flight to ABC</h5>
            <div class="card-text">
              <dl class="row">
                <dt class="col-sm-4">Frontier</dt>
                <dd class="col-sm-8">F9 1234</dd>
                <dt class="col-sm-4">7:20 PM</dt>
                <dd class="col-sm-8">ABC</dd>
                <dt class="col-sm-4">9:20 PM</dt>
                <dd class="col-sm-8">DEF</dd>
              </dl>
            </div>
            <h5 class="card-title">Stay at XXXXXXX</h5>
            <p class="card-text">
              placeholder
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row trip-card-row">
      <div class="col-sm-8 mb-4">
        <div class="card-deck">
          <div class="card">
            <div class="card-header"> Day 3 Thursday Aug 29 </div>
            <div class="card-body">
              <h5 class="card-title">Flight to ABC</h5>
              <div class="card-text">
                <dl class="row">
                  <dt class="col-sm-4">Frontier</dt>
                  <dd class="col-sm-8">F9 1234</dd>
                  <dt class="col-sm-4">7:20 PM</dt>
                  <dd class="col-sm-8">ABC</dd>
                  <dt class="col-sm-4">9:20 PM</dt>
                  <dd class="col-sm-8">DEF</dd>
                </dl>
              </div>
              <h5 class="card-title">Stay at XXXXXXX</h5>
              <p class="card-text">
                placeholder
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 mb-4">
        <div class="card-deck">
          <div class="card">
            <div class="card-header"> Day 4 Friday Aug 30 </div>
            <div class="card-body">
              <h5 class="card-title">Card title 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row trip-card-row">
      <div class="col-sm-8 mb-4">
        <div class="card">
          <div class="card-header"> Day 5 Saturday Aug 31 </div>
          <div class="card-body">
            <h5 class="card-title">Card title 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-8 mb-4">
        <div class="card">
          <div class="card-header"> Day 6 Sunday Sep 1 </div>
          <div class="card-body">
            <h5 class="card-title">Card title 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-8 mb-4">
        <div class="card">
          <div class="card-header"> Day 7 Monday Sep 2 </div>
          <div class="card-body">
            <h5 class="card-title">Card title 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
